.Navbar {
    color: red;
    background-color: purple;
}

.button {
    background-color: purple;
    border: 2px solid red;
    color: red;
    padding: 20px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: none;
    font-size: 24px;
}

.title-color {
    color: red
}